
@{
    ViewBag.Title = "Index";
}

<script>
    function display() {
        var text = document.getElementById("txt").value;
        alert(text);
    }
</script>

<h2>Index</h2>
<input id="txt" type="text" />
<input id="Button1" type="button" value="Show Msg" onclick="display()" />